section.aboutMe
  .container
    img.aboutMe__photo(src="../images/face.png" alt='kostikovmuPhoto')
    .title--with--bottom--line
      h3.title Обо мне
    .aboutMe__text
      .aboutMe__text__description.
        Привет, меня зовут Михаил, я разработчик сайтов. Мне нравится создавать красивые и функциональные веб сайты.
        С самого детства я увлекаюсь компьютерами и тем что с ними связано.
      .aboutMe__text__description.
        Я, понимаю принципы адаптивной, кроссбраузерной верстки и особенности работы браузеров. Применяю современную
        семантическую верстку. Все макеты проверяются Validator W3, PageSpeed Insights.

