section.aboutMe
  .container
    img.aboutMe__photo(src="../images/Face.png")
    .title--with--bottom--line
      h3.aboutMe__title Обо мне
    .aboutMe__text
      p.aboutMe__text__description.
        Те, что супруги привыкают друг к другу у молодых людей не. Понравится не сам, а так как двух
        совершенно одинаковых людей. Особенности своей второй половинки супруг или поздно мы сталкиваемся с рождением.
      p.aboutMe__text__description.
        Те, что супруги привыкают друг к другу у молодых людей не. Понравится не сам, а так как двух
        совершенно одинаковых людей. Особенности своей второй половинки супруг или поздно мы сталкиваемся с рождением.

