section.aboutMe
  .container
    img.aboutMe__photo(src="../images/Face.png")
    .title--with--bottom--line
      h3.title Обо мне
    .aboutMe__text
      .aboutMe__text__description.
        Привет, меня зовут Михаил, я FrontEnd разработчик. Мне нравится заниматься разработкой веб сайтов.
        С самого детства увлекаюсь компьютерами и тем что с ними связано.
      .aboutMe__text__description.
        Я, понимаю принципы адаптивной, кроссбраузерной верстки и особенности работы браузеров. Знаю современную
        семантическую верстку. Все макеты проверяются Validator W3, PageSpeed Insights.

