-
  var src = {
    'HTML, CSS':'http://testprovider.com/ru/Certificate/Search/TP68276893',
    'JavaScript Essential':'http://testprovider.com/ru/Certificate/Search/TP04102470',
    'JavaScript Advanced': 'http://testprovider.com/ru/Certificate/Search/TP60029759',
    'Adobe Photoshop': 'https://netology.ru/sertificate/1106325?p=1&stop=1',
    'Responsive Web Design': 'https://www.freecodecamp.org/certification/kostikovmu/responsive-web-design',
    'English': 'https://static.puzzle-english.com/teacher_cert/3749075-3.pdf'
  };
-
  var dates = {
  'HTML, CSS':'08.02.2018',
  'JavaScript Essential':'04.03.2018',
  'JavaScript Advanced': '17.03.2018',
  'Adobe Photoshop': '26.03.2018',
  'Responsive Web Design': '20.07.2018',
  'English': '05.09.2018'
  };
-
  var points = {
  'HTML, CSS':'892/1000',
  'JavaScript Essential':'950/1000',
  'JavaScript Advanced': '875/1000',
  'Adobe Photoshop': '14/15',
  'Responsive Web Design': '5/5',
  'English': '50/61'

  };

each item, index in src
  .certificates__item
    .certificates__panel.box-shadow
      .certificates__title= index
      //a.certificates__description(href= item)= 'Ссылка'
      .certificates__label: a(href= item target= 'blank')= 'Ссылка'
      .certificates__label= dates[index]
      .certificates__label= points[index]


