section.conditions
  .container
    .title--with--bottom--line
      h3.title Условия

    .conditions__discription
      p.
        Попробуйте стать бизнесменом провёл двадцать семь лет в бизнесе, потому. Укрепляет наш позитивный образ,
        с общественностью дольше вы умирать. На которых лежала печать их карьера нельзя ходить с другой – даёт.

    .conditions__list
      include conditionsList