-
  var list = {
    'Предоплата':'Аванс составляет 50% от стоимости. Вы можете внести оплату любым удобным вам способом: ' +
    'Яндекс Деньги, Банковская карта, Qiwi.',
    'Техническое задание':'Сайт создается строго по ТЗ, в котором описаны сроки разработки, количество правок, ' +
    'условия дальнейшей поддержки и другие условия.',
    'Скорость выполнения':'По типовому соглашению работа начинается в течение 3 рабочих дней. Верстка одного блока ' +
    'сайта в среднем 1 час.',
    'Адаптивная верстка':'Сайты будут выгядеть хорошо на всех устройствах: телефоны, планшеты, ноутбуки и ' +
    'настольные компьютеры.',
    'Всегда на связи':'Доступен во всех основных мессенджерах: Телеграмм, Watts Up, Skype. А так же по электронной ' +
    'почте и по мобильному телефону.',
    'Возврат аванса':'Возможен только если работа над сайтом еще не началась. Нужно еще что то дописать сюда ' +
    'что бы побольше было.',
    'Новые задачи':'То чего не было описанно в ТЗ, оценивается заново и оплачивается отдельно. Это относится даже к ' +
    'тем задачам которые вы подрузомевали, но их не было в ТЗ.',
    'Что не включено':'Разарботка дизайна и структуры веб сайта, информационное обеспечение и наполнение ' +
    'сайта контентом.',
    'Схема работ':'Сайт создается по готовму дизайну в соотвествии с ТЗ, если у вас еще нет дизайна я могу ' +
    'обратиться к своим партнерам для его создания.'
  };

-
  var icons = {
  'Предоплата':'icons8-icon',
  'Техническое задание':'icons8-icon-3',
  'Скорость выполнения':'icons8-icon-8',
  'Адаптивная верстка':'icons8-icon-2',
  'Всегда на связи':'icons8-icon-5',
  'Возврат аванса':'icons8-icon-9',
  'Новые задачи':'icons8-icon-4',
  'Что не включено':'icons8-icon-7',
  'Схема работ':'icons8-icon-6'
  }

each item, index in list
  .conditions__wrap
    .conditions__item
      i(class= icons[index])
      h4.conditions__item__title= index
      p.conditions__item__description= item