-
  var list = {
    'Предоплата':'Аванс составляет 25% от стоимости. Оплата любым удобным вам способом: Яндекс Деньги, ' +
    'Банковская карта, Qiwi, BTC.',
    'Техническое задание':'Сайт создается строго по ТЗ, в котором описаны сроки разработки, количество правок, ' +
    'условия дальнейшей поддержки.',
    'Скорость выполнения':'По типовому соглашению работа начинается в течение 3 рабочих дней. Верстка одного блока ' +
    'сайта в среднем 1 час.',
    'Адаптивная верстка':'Сайты будут выгядеть хорошо на всех устройствах: телефоны, планшеты, ноутбуки и ' +
    'настольные компьютеры.',
    'Всегда на связи':'Доступен во всех основных мессенджерах: Телеграм, WattsApp, Skype. А так же по электронной ' +
    'почте и по мобильному телефону.',
    'Возврат аванса':'Возврат денег возможен только если работа над сайтом еще не началась.',
    'Новые задачи':'То чего не было описанно в ТЗ, оценивается заново и оплачивается отдельно.',
    'Что не включено':'Разарботка уникальных иконок и иллюстраций, фотосессия, написание уникальных текстов,  ' +
    'покупка контента.',
    'Схема работ':'Сайт создается по готовому дизайну в соотвествии с ТЗ, если у вас еще нет дизайна я могу ' +
    'обратиться к своим партнерам для его создания.'
  };

-
  var icons = {
  'Предоплата':'icons8-icon',
  'Техническое задание':'icons8-icon-3',
  'Скорость выполнения':'icons8-icon-8',
  'Адаптивная верстка':'icons8-icon-2',
  'Всегда на связи':'icons8-icon-5',
  'Возврат аванса':'icons8-icon-9',
  'Новые задачи':'icons8-icon-4',
  'Что не включено':'icons8-icon-7',
  'Схема работ':'icons8-icon-6'
  }

each item, index in list
  .conditions__wrap
    .conditions__item
      .conditions__item__header
        i.conditions__item__icon(class= icons[index])
        .conditions__item__title: h4= index
      p.conditions__item__description= item