section.communication#contacts
  .container
    .communication__flex--container
      .communication__feedback
        .title--with--bottom--line
          h3.title Напишите мне

        .communication__container
          form.communication__form
            .communication__form__fields
              input(type='text' name='contact' required='required' placeholder='Ваш контактный телефон или Email *').communication__form__input
              textarea(type='text' name='text' placeholder='Сообщение').communication__form__input.communication__form__message
            input(type='submit' value='Отправить').button--form
            .msg

      .communication__contacts
        .title--with--bottom--line
          h3.title Контакты

        .communication__contacts--wrap
          ul.communication__contacts__title
            li.communication__contacts__item Телефон
            li.communication__contacts__item Email
            li.communication__contacts__item Skype

          ul.communication__contacts__text
            li.communication__contacts__item +7 977 464 70 87
            li.communication__contacts__item kostikovmu@yandex.ru
            li.communication__contacts__item mihail.k.
