-
  var list = {
    'src':{
      'site1': '../../images/site1.png',
      'site2': '../../images/site2.png',
      'site3': '../../images/site3.png',
      'site4': '../../images/site4.png',
      'site5': '../../images/site5.png',
      'site6': '../../images/site6.png'
    },
    'title':{
      'site1': 'Горячая еда',
      'site2': 'Аатозона',
      'site3': 'СпортМекка',
      'site4': 'Fresh Clean',
      'site5': '101 роза',
      'site6': 'Иваново сервис'
    },
    'description': {
      'site1': 'Вкусная и здоровая еда, лечебная и для набора мышечной массы проверенная нами на кухне и ' +
      'нашими экспертами.\n',
      'site2': 'Помогает Вам решить все вопросы, связанные с техническим обслуживанием автомобилей. ' +
      'Осуществляется техобслуживание, диагностика и полный ремонт. ',
      'site3': 'Основной идеей нашей качалки является возможность накачаться любому "дрыщу" Демократичные цены ' +
      'и взаимопомощь не оставит вас равнодущными.',
      'site4': 'Для уборки используют только экологичные средства созданные для заботы о природе. Средства ' +
      'не вредят Вашему здоровью и являются гипоалергенными.',
      'site5': 'Доставляем цветы по Москве и области. Выберите один из готовых букетов или соберите букет сами онлайн.',
      'site6': 'Ремонт мобильных устройств на любой платформе, а также продажа отремонтированных.'
    }

  }

each item, index in list.src
  .portfolio__item
    .portfolio__wrap: .portfolio__text
      .portfolio__title= list.title[index]
      p.portfolio__description= list.description[index]
    .portfolio__img
      img(src= item)
