-
  var list = {
    'src':{
      'site1': '../../images/site1.png',
      'site2': '../../images/site2.png',
      'site3': '../../images/site3.png',
      'site4': '../../images/site4.png',
      'site5': '../../images/site5.png',
      'site6': '../../images/site6.png'
    },
    'title':{
      'site1': 'Волшебная еда',
      'site2': 'Вилгуд',
      'site3': 'СпортЛэнд',
      'site4': 'Mint Clean',
      'site5': 'Розарио',
      'site6': 'Кожухо сервис'
    },
    'description': {
      'site1': 'ВКУСНАЯ ЗДОРОВАЯ еда, а также лечебная, профилактическая, диетическая, сбалансированная, гармоничная, ' +
      'проверенная на полезность экспертами и испытанная на собственной кухне — лично нашей и наших знакомых.\n',
      'site2': 'Компания Вилгуд поможет Вам решить все вопросы, связанные с техническим обслуживанием ' +
      'корпоративного автопарка. Осуществляет слесарный, кузовной ремонт, техобслуживание, диагностику ' +
      'автомобилей наших клиентов.',
      'site3': 'Основной идеей фитнес клуба "СпортЛэнд" является возможность занятия спортом для любого желающего.' +
      ' Лучшие цены на клубные карты и дополнительные услуги среди спортивных клубов в этом сегменте.',
      'site4': 'Используют только профессиональные средства для уборки – эффективные и экологичные. ' +
      'Средства гипоаллергентны и не наносят вреда ни людям, ни животным. ',
      'site5': 'Доставка восхитительных букетов и живых цветов, который предлагает услуги по доставке цветов с 2011 года.',
      'site6': 'Ремонт телефонов, планшетов, ноутбуков и других устройств.'
    }

  }

each item, index in list.src
  .portfolio__item
    .portfolio__wrap: .portfolio__text
      .portfolio__title= list.title[index]
      p.portfolio__description= list.description[index]
    .portfolio__img
      img(src= item)
