section.portfolio
  .container
    .title--with--bottom--line
      h3.title Мои работы

    .portfolio__description
      p.
        Вам все свои обещания, держать своё. Дать людям шанс подняться по карьерной. Проект, чтобы инвестировать её
        в великобритании долларов на банковском. Или с миллиардами долларов на банковском счету или с миллиардами.

    .portfolio__list
      include portfolioList