-
  var list = {
    'HTML5 & CSS3':'Продвинутый',
    'SASS & PUG':'Продвинутый',
    'Java Script':'Средний',
    'PhotoShop':'Выше среднего',
    'jQuery':'Средний',
    'English':'Выше среднего'
  };

each item, index in list
  .skills__wrap
    .skills__item
      h4.skills__item__title= index
      p.skills__item__description= item