$con_m-r: 16px;

.conditions {
  padding: 90px 0;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 60px;
    padding: 0;
  }

  &__wrap {
    background-color:#bbc8dd;
    padding: 15px 20px;
    border-radius: 5px;
    transition: .3s;


    &:hover {
      background-color:darken(#bbc8dd, 10%);

      & i {
        color: #df3143;
      }

    }
  }

  &__item {

    &__title {
      margin: 0;
    }

    &__description {
      font-size: .850rem;
      margin-top: 5px;
    }
  }
  i {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .conditions {
    padding: 50px 0;

    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media(max-width: 660px) {
  .conditions {

    &__list {
      grid-template-columns: 1fr;
    }

    &__item{
      &__header {
        display: flex;
      }

      &__title {
        display: flex;
        align-items: center;
        padding-left: 10px;
      }
    }
  }
}