.header {


  &__nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index:999;
  }

  &__background {
    background-image: url(../images/natural-forest-snow-mountainous-black.jpg);
    background-color: #6f7a8a;
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index:-999;
  }

  &__button {

    right: 80px;
    top: 15px;
    position: absolute;
    text-decoration: none;
  }
}
