.header {
  z-index:999;
  //&__wrap {
  //  background-color: rgb(7, 10, 14);
  //  height: 500px;
  //  width: 100%;
  //  z-index:99;
  //  opacity: 0.5;
  //
  //}

  &__background {
    background-image: url(../../images/hero-bg.jpg);
    background-color: #6f7a8a;
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index:-999;
  }

  &__button {

    right: 80px;
    top: 15px;
    position: absolute;
    text-decoration: none;
  }
}