.hero {
  text-align: center;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    color: #fff;
    font-size: 4.5rem;
    margin: 0;
    letter-spacing: 0.25rem;

  }

  &__description {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }

}

@media(max-width: 660px) {
  .hero {

    &__title {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    &__description {
      display: block;
      margin-top: 30px;
    }
  }
}