.hero {
  text-align: center;
  height: 305px;
  margin-top: 190px;
  
  &__title {
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 15px;
    letter-spacing: 0.02rem;
  }

  &__description {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
  }

}