.nav {
  display: flex;

  top: 0;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin: 12px 0 ;


  &__logo {


    margin-right: 105px;
    border-bottom: 3px solid #ffd500;
    height: 30px;
  }

  &__logo--text {
    text-decoration: none;
    color: #ffd500;
    padding: 3px;
    line-height: 1rem;
    font-size: 1.4rem;
    font-family:$ff-main-bold;
  }

  &__menu {

  }

  &__link {
    text-decoration: none;
    padding-left: 30px;
    color: #939dab;
    font-size: 0.8rem;
    transition: .3s;

    &:hover {
      color: #ffd500;
    }

    :first-child {
      padding-left: 0;
    }
    
    &--active {
      color: #ffd500;
    }
  }



}

