$portfolio-mr: 20px;

.portfolio {

  padding:90px 0;
  background-color: #ff9cb6;

  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  &__item {
    width: $max-width/3 - $portfolio-mr;
    position: relative;
    border: 7px solid coral;
    margin: auto;

    &:hover .portfolio__wrap{
      opacity: 1;
    }
  }

  &__img {

    img {
      width: 100%;
      height: auto;
    }
  }

  &__wrap {
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    padding: 0 25px;
    transition: .3s;
  }
  &__text {
    text-align: center;
    margin:auto;
    color: #fff;
  }
  &__title {
    font-size:1.4rem;
    font-family: $ff-main-bold;
  }

  &__description {
    font-size:.9rem;
  }
}

@media (max-width: 960px) {
  .portfolio {


    &__list {
      grid-template-columns: 1fr 1fr;
    }

    &__wrap {
      opacity: 1;
    }
  }
}

@media (max-width: 680px) {
  .portfolio {


    &__list {
      grid-template-columns: 1fr;
    }
  }
}