.title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin:0;
  font-family: $ff-main-bold;

  &--with--bottom--line {
    position: relative;
    margin-bottom: 44px;

    &:after {
      position: absolute;
      content: '';
      bottom: -15px;
      height: 7px;
      width: 52px;
      background: #df3143;
    }
  }
}