// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "conditions-mySite";
$icons8-font-path: "../../fonts";

$icons8-var-icon: "\f100";
$icons8-var-icon-2: "\f101";
$icons8-var-icon-3: "\f102";
$icons8-var-icon-4: "\f103";
$icons8-var-icon-5: "\f104";
$icons8-var-icon-6: "\f105";
$icons8-var-icon-7: "\f106";
$icons8-var-icon-8: "\f107";
$icons8-var-icon-9: "\f108";
